* {
  font-family: "EB Garamond", serif;
}

nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-pages {
  display: flex;
  width: 33%;
  justify-content: space-between;
  margin-left: 20px;
}

.nav-items {
}

a {
  font-size: larger;
}

a:link {
  color: #247e85;
  text-decoration: none;
}

a:visited {
  color: #7bb970;
}

a:focus {
  color: #247e85;
}

a:hover {
  color: #852433;
  text-transform: capitalize;
}

a:active {
  color: #247e85;
}

div.wallpaper {
  background-color: aliceblue;
}

.prikry {
  width: 33%;
  border: 5px inset black;
}

.bird-banner {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.bird-1 {
  width: 175px;
  /* height: auto; */
}
.bird-2 {
  width: 250px;
  /* height: auto; */
}
.bird-3 {
  width: 250px;
  /* height: auto; */
}
.bird-4 {
  width: 250px;
  /* height: auto; */
}
.bird-5 {
  width: 300px;
  /* height: auto; */
}
